<!DOCTYPE ko>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김지민페이지</title>
</head>
<body>
    <form action="/create" method="post">
        <input type="text" id="lname" name="content"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>